################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Created by https://www.gitignore.io/api/xamarinstudio
# Edit at https://www.gitignore.io/?templates=xamarinstudio

### XamarinStudio ###
.vs/
bin/
obj/
*.userprefs
.packages

# End of https://www.gitignore.io/api/xamarinstudio
